.banner{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* color: white; */
    background-color: cover;
    margin-bottom: 30px;
}

.details_container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;

}

.details_container h2{
    color: black;
    text-align: center;

}

.detail_half{
    width: 100%;
}

.instruction_container{
    max-width: 550px;
    box-shadow: 0px 3px 10px rgba(157, 75, 75, 0.6);
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
    
}

.ingredients_container{
    width: 300px;
    box-shadow: 0px 3px 10px rgba(157, 75, 75, 0.6);
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
}

.ad_banner{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: black;
    background-size: cover;
}

.contain{
    display: flex;
    
}